@model List<Vidly.Models.Domain.Employee>
@{
}
<h1>Employees</h1>
<form method="get" asp-action="Search" class="d-flex">
    <p>
        <input type="search" placeholder="Search here" value="@ViewData["SearchString"]" name="searchString" width="500px;"/>
        <input type="submit" value="Search" class="btn btn_primary"/>
         
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Date Of Birth</th>
            <th>Department</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr> 
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Salary</td>
                <td>@item.DateOfBirth.ToString("dd-MMM-yyyy")</td>
                <td>@item.Department</td>
                <td><a href="/Employees/View/@item.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>